.header-main {
  display: flex;
  justify-content: space-evenly;
  background-color: #495e57;
  height: 25.375rem;
  width: 104vw;
  position: relative;
  top: 0;
  left: 0;
}

.banner-img {
  position: relative;
  width: 23.4375rem;
  height: 27.3125rem;

  border-radius: 16px;
  top: 2.5rem;
  left: 0;
  border: 1px solid black;
}

.header-section-left {
  margin-left: 19.8rem;
}
.header-section-right {
  margin-right: 21rem;
}
h1 {
  font-family: Markazi Text;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #f4ce14;
  margin: 0 4rem 0 0;
  padding-top: 3rem;
}

h2 {
  font-family: Markazi Text;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #edefee;
  margin: 0;
}

p {
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #edefee;
  margin: 0;
  width: 26.375rem;
  height: 5;
}

h2 {
  padding-top: 1rem;
}

.button-header {
  /* margin-top: 3rem; */
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 1rem;
  width: 12.5rem;
  height: 3.0625rem;
  position: relative;
  top: 4rem;
  background-color: #f4ce14;
  border: none;
}
