main {
  display: flex;
  background-color: #fff;
  height: 46rem;
}

.button-main {
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 1rem;
  width: 12.5rem;
  height: 3.8rem;
  background-color: #f4ce14;
  border: none;
  position: relative;
  left: 61rem;
  top: 7rem;
}

.specials-main {
  position: absolute;
  color: black;
  left: 22rem;
  top: 39.6rem;
  font-family: Markazi Text;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cards {
  display: flex;
  gap: 1.9rem;
}

.card {
  position: relative;
  top: 15rem;
  left: 9.4rem;
  background-color: lightgray;
  width: 16rem;
  height: 27.4375rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-img {
  width: 16rem;
  height: 11.57863rem;
  border-radius: 1rem 1rem 0rem 0rem;
  border: 0px solid #000;
}

.card-pt {
  display: flex;
  justify-content: space-around;
  padding: 1em 2.2em 1em 0rem;
}

.card-pt > span {
  color: #ee9972;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 0em;
  margin-left: -11px;
}

.card-description {
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 13.6rem;
  margin: 0 2rem;
  color: #495e57;
}

.card-delivery {
  display: flex;
  padding: 3rem 2rem 0rem 0rem;
  margin-left: 2rem;
  align-items: center;
}

.card-delivery > h5 {
  padding-left: 2rem;
}
