.testimonials-section {
  background-color: #d9d9d9;
  width: 99rem;
  height: 40rem;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.testimonials-title-container {
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  align-content: center;
  padding: 9.5rem 0rem 3rem 0rem;
}

.testimonials-title {
  font-family: Markazi Text;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonial-rating-container {
  width: 12.5rem;
  height: 11rem;
  background: white;
  padding-left: 1rem;
}

.testimonial-img-container {
  display: flex;
}

.testimonial-img {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  margin: 1rem 1rem 1rem 0rem;
}

.testimonial-img-name {
  color: black;
  width: 3rem;
  margin: revert;
}

.testimonial-rating-title {
  padding-top: 2rem;
}
