.testimonials {
  background: #d9d9d9;
  display: grid;
  grid-template-rows: 20%;
  justify-content: center;
  align-content: center;
  width: 95.5625rem;
  height: 35rem;
}

.testimonials-title {
  font-family: Markazi Text;
  color: #333;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonial-rating-container {
  width: 12.5rem;
  height: 11rem;
  background: white;
}

.testimonial-img-container {
  display: flex;
}

.testimonial-img {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  /* margin: 1rem 1rem 1rem 0rem; */
}

.testimonial-img-name {
  color: black;
  width: 3rem;
  margin: revert;
}
